<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        {% block metas %}
            <meta property="og:image" content="https://c9a5-2804-7f7-a089-afde-3735-7b0c-e6e2-d038.ngrok-free.app/build/images/quadro-poster-paisagem-04-detalhes-abaixo-para-imprimir.jpg"/>
            <meta property="og:description" content="Stock Only Test: só de testa ja esta me ajudando"/>
            <meta property="og:url" content="https://www.stock.com"/>
        {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href={{ asset('build/images/modular-symfony-development-igniti-en.png') }} type="image/png"/>
        {% block stylesheets %}
            {{ encore_entry_link_tags('global_app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('global_app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
